/* Buttons */


/* Initial positions */

/* On hover - Diagonal movement */

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    /* ✅ left side since icon is before text */
    width: 100%;
    height: 100%;
    transition: transform 0.25s ease-in-out;
}

/* Buttons end */



/* responsive */