.go-HeroTitle {
    font: normal 52px/1 var(--go-regular);
}

.fr-TitleItalic {
    font: italic 60px/1 "Fraunces", serif;
    font-weight: 350;
}

.go-HeroSubtitle {
    font: normal 16px/1.6 var(--go-regular);
}

.textHighlight {
    font-weight: 600;
    font-family: 'go-semibold';
}

.go-HighlightHeading {
    font: normal 30px/1.1 var(--go-regular);
}

.fr-HeadingItalic {
    font: italic 34px/1.1 "Fraunces", serif;
    font-weight: 350;
}

.go-BlockHeading {
    font: normal 24px/1.5 var(--go-regular);
}

.fr-BlockHeading {
    font: normal 28px/1.5 "Fraunces", serif;
}

.go-BreatherHeading {
    font: normal 28px/1.2 var(--go-regular);
}

.fr-BreatherHeading {
    font: italic 32px/1.2 "Fraunces", serif;
    font-weight: 350;

}

.textGradient {
    background-clip: text;
    background: linear-gradient(92deg, #39b6d8 7.6%, #f7d344 53.43%, #e38330 99.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@media (max-width: 767px) {
    .go-BreatherHeading {
        font: normal 22px / 1.2 var(--go-regular);
    }

    .fr-BreatherHeading {
        font: italic 24px / 1.2 "Fraunces", serif;
        font-weight: 350;
    }

    .go-HeroSubtitle {
        font: normal 14px/1.6 var(--go-regular);
    }

    .go-HeroTitle {
        font: normal 30px/1.2 var(--go-regular);
    }

    .fr-TitleItalic {
        font: italic 32px/1.2 "Fraunces", serif;
        font-weight: 350;

    }

    .go-HighlightHeading {
        font: normal 22px/1.2 var(--go-regular);
    }

    .fr-HeadingItalic {
        font: italic 24px/1.1 "Fraunces", serif;

    }

    .fr-BlockHeading {
        font: normal 20px/1.5 "Fraunces", serif;
    }

    .go-BlockHeading {
        font: normal 18px/1.5 var(--go-regular);
    }
}




/* Semester Curriculum CSS */

.semesterCurriculum {
    background: var(--white4);

    .yearBelowRightHeading {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .yearBelowRightHeading p:nth-child(2) {
        flex: 1;
    }

    .yearBelowRightHeading p:first-child {
        font: 24px 'go-regular';
        line-height: 120%;
        flex: 1;

        span {
            font: italic 26px/1.2 "Fraunces", serif;
            font-weight: 350;

        }
    }

    .yearBelowRight {
        background: var(--white);
    }

    .headWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px
    }

    .headWrapper p {
        width: 100%;
        max-width: 600px;
    }

    .semWrapper {
        margin-top: 40px;
        display: flex;
    }

    .flagParentDivi img {
        max-width: 80px;
    }

    .semTabs {
        width: 100%;
        max-width: 280px;
        height: fit-content;
        position: sticky;
        top: 130px;
    }

    .tab {
        padding: 10px 0 14px;
        cursor: pointer;
        border-bottom: 1px solid #D9D9D9;
        color: var(--black);
        transition: border-color 0.3s;
    }

    .tab.active {
        border-bottom: 1px solid #000;

        .semNumber {
            color: var(--black);
        }
    }

    .semesterContentBox {
        flex: 1;
        padding: 10px 0px 10px 30px;
    }

    .semester-content {
        margin-bottom: 40px;
        border-radius: 5px;
    }

    .semNumber {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--grey15);
        font: 16px 'go-regular';
        line-height: 120%;
    }

    .subjectTag {
        padding: 4px 15px;
        border-radius: 60px;
        font-size: 14px;
        font-family: "Fraunces", serif;
        font-weight: 400;
        line-height: 120%;
        color: var(--black);
        background: var(--grey4);
        max-width: fit-content;
        font-style: italic;
        transition: background 0.3s;
    }

    .tab.active .subjectTag {
        background: var(--black);
    }

    .blankDiv {
        min-height: 50px;
    }
}

@media (max-width: 768px) {
    .semesterCurriculum {
        padding-bottom: 15px !important;

        .yearBelowRightHeading p:nth-child(2) {
            margin-top: 10px;
            font: 16px 'go-medium';
            line-height: 120%;
        }

        .headWrapper {
            flex-flow: column;
            align-items: flex-start;
        }

        .semWrapper {
            flex-flow: column;
        }

        .semesterTabsWrapper {
            margin-top: 20px;
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none;
            /* Firefox */
            -webkit-overflow-scrolling: touch;
        }

        .semesterTabsWrapper::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari */
        }

        .semesterTabs {
            display: flex;
            gap: 10px;
            min-width: max-content;
            overflow-x: auto;
        }

        .tabContentWrapper {
    
            display: flex;
            gap: 20px;
            align-items: flex-start;
            overflow: auto;
        }

        .semesterTabs .mobTab {
            display: inline-block;
            padding: 5px 20px;
            /* margin-right: 8px; */
            border-radius: 20px;
            white-space: nowrap;
            cursor: pointer;
            background: #f1f1f1;
            border: 1px solid #090909;
        }

        .mobTab.active {

            background: var(--black);

            .mobTabSem {
                background: var(--Linear-Gradient, linear-gradient(91deg, #39B5D7 1.8%, #F7D544 50.99%, #E38330 99.75%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

            .tabContent {
                display: block;
                min-width: 300px;
                padding-block: 22px;
                  scroll-margin-top: 100px; /* adjust to your header height */


                .yearBelowRight {
                    min-height: 530px;

                }
            }


            .flagParentDivi img {
                max-width: 23%;
            }

            .mobTabSem {
                font-family: '"Fraunces", serif';
                font-size: 14px;
                font-weight: 400;
                line-height: 120%;
                font-style: italic;
            }



        }
    }



    .mastersScrollMob{
        display: flex !important;
        overflow-x: auto;
        gap: 20px;
        align-items: flex-start;

        .newMasterBoxImg{
            min-width: 280px;
        }
    }